.padre {
    background-color: tomato;
    width: 500px;
    height: 500px;
    display: flex;
  
}

.hijo {
    background-color: teal;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    
}

.derecha {
  
}

.izquierda {
    margin-right: auto;
}