.caja {
    background-color: red;
    color: white;
    padding: 1em;
    border:1px solid black;
   
}

.caja1 {
    position: relative;

    background-color: greenyellow;
}

.caja2 {
    position: relative;
    background-color: blue;
}

.hijo {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: violet;
    top: 0 ;
    left: 0;
}


.caja3 {
    position: relative;
    right: 200px;
    background-color: crimson;
}
.caja4 {
    background-color: darkorange;
}