/*
.padre-flex {
    width: 800px;
    height: 600px;
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

.hijo-flex {
    font-size: 40px;
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
    border: 1px solid black;

}

.ejemplo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    margin-bottom: 100px;
    background-color: green;
    color: white;
}

button {
    height: 20px;
}
*/


 * {box-sizing: border-box;}

.padre {
    display: flex;
    background-color: blue;
    height: 600px;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    align-content: flex-start;
}

.hijo {
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 100px;
}